
/* Google Fonts */

*{
    font-family: 'Heebo', sans-serif;
}

h1 , h2, h3,h4 ,h5,h6 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.presto{
    
    font-size: 2,5rem;
    height: 120px;
   



   
}


.title{
    
    font-size: 1.25rem;
    height: 120px;
    text-decoration: none;
   
}


:root{
    
    --main: #666565;
    --secondary: #fea116;
    --third: #0f172b;
    --light: #ffffff;
}

.c-main{
    color:var(--main) ;
}

.c-secondary{
    color:var(--secondary);
}

.c-third{
    color:var(--third);
}

.c-light{
    color:var(--light);
}

.b-secondary{
    background-color: var(--secondary);
}


.navbar{

    margin-left: -20px!important;
    height: 80px;
}

#navbar .nav-link{
    
    transition: all 0.5s;
    color:var(--light) ;
    margin-left: 20px;
}


#navbar .nav-link:hover{
    
    color:var(--secondary);
}

#navbar .nav-link.active{

    color:var(--secondary);
}

#button-booking{

    background-color: var(--secondary);
}

/* Start swiper Carousel css */

.swiper {
    width: 600px;
    height: 300px;
}

.carousel-size{
    width: 100%;
    height: 75vh;
}


#slide1{
    background: linear-gradient(  rgba(56, 54, 54, 0.692),rgba(56, 54, 54, 0.795)) , url(./media/carousel-2.jpg);
    background-repeat: no-repeat;
} 

#slide2{
    background: linear-gradient(  rgba(56, 54, 54, 0.692),rgba(56, 54, 54, 0.795)) , url(./media/carousel-1.jpg);
    background-repeat: no-repeat;
} 

#slide3{
    background: linear-gradient(  rgba(56, 54, 54, 0.692),rgba(56, 54, 54, 0.795)) , url(./media/carousel-3.jpg);
    background-repeat: no-repeat;
}

.carouselText{
    color: var(--light);
    font-weight: 700;
    line-height: 76.8px;
}




.lines{
    position: relative;
    animation-name: motion;
    animation-iteration-count: 1;
}

@keyframes motion{
    0%{top: -10px;}
    100%{top: 0px;}
}

.lines::before{
    content: '';
    height: 2px;
    width: 50px;
    background-color:var(--secondary);
    position: absolute;
    top:calc(50% - 2px);
    left: -65px;
}

.lines::after{
    content: '';
    height: 2px;
    width: 50px;
    background-color: var(--secondary);
    position: absolute;
    top:calc(50% - 2px);
    right: -65px;
}

#swiperButton1{
    margin-left: 350px;
}

#swiperButton2{
    margin-right: 350px;
}


.btnRooms{
    background-color:var(--secondary) ;
    display: flex;
    border: 1px;
    border-radius: 0%;
}

.btnBook{
    background-color:var(--light) ;
    display: flex;
    border-radius: 0%;
}

/* End Swiper Carousel Css */

/* Start form */

#search{
    background-color: var(--light);
    padding: 35px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}


.wow{
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}

.btn-form{
    background-color: var(--secondary);
    
}

/* End Form */

/* About Us start */

.section-title{
    position: relative;
    display: inline-block;
   
}

.section-title::after{

    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: var(--secondary);
    
}

.title-about{
    font-size: 45px;
}


.tempor{
    font-size: 0px;
    font-size: 1rem;
}
.fa{
    font-weight: 900px;
    font-size: 2em; 

} 

.fa, .fab, .fad, .fal, .far, .fas {
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    text-rendering: auto;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-2x{
    font-size: 2rem;
}

/* .cardHotel{
    border-radius: 5px;
    overflow: hidden;
   
    

}

.cardHotel img{
    transition: all0.5s;
}

.cardHotel:hover img{
    transform: scale(1.2);
} */

.bordi{
    border: 1px solid #dee2e6;
}


#about-1{
  margin-top: 90px;
  
}
/* About End */

/* Room Start */

.card-title{
    font-size: 40px;
}
 
.star{
    font-weight: 900;
    font-size: 15px;
}

.btn-card1{
background-color:var(--secondary);

color: var(--light);
border-radius: 0;
}

.btn-card2{
    background-color:var(--third);

    color: var(--light);
    
    border-radius: 0;

}
/* Room End */

/* video Start */

.video{
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(./media/about-2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .video, .btn-play{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
} */

/* .play2{
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
} */

.service-item{
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgb(0 0 0 / 8%);
    transition: .5s;
}

.service-icon{
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

#link-service{
    text-decoration: none;

}

#carousel2{
    background: linear-gradient(  rgba(56, 54, 54, 0.692),rgba(56, 54, 54, 0.795)) , url(./media/carousel-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 450px;
}

.testi{
    margin-top: 60px;
}

.btn-square{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    width: 38px;
    height: 38px;
}

.newsletter{
    position: relative;
    z-index: 1;
}

#subscribe{
    max-width: 400px;
}

.radious-0{
    border-radius: 0;
}

.footer{
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.btn-outline{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-link{
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

#none{
    text-decoration: none;
}

.copyright{
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.end{
    margin-left: 10px;
    border-left: 1px solid;
}